<title>Comments for Photoshare</title>

{% if photo %}
<h2>Selected Photo:</h2>
    <ul>
        <li>{{photo[2]}}<br>

        <br>
        {% if allowed %}
        <div class="title">
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('comments') }}">
                        <label for="comment">Post a Comment:</label>
                        <input type="text" name="comment" /><br />
                        <input id="photo_id" name="photo_id" type="hidden" value={{photo[1]}}>
                    <input type="submit" />
                </form>
             </div>
             {% endif %}

        <h4>Comments:</h4><br>
        <br>
        {% if comments%}
        <u1>
            {%for comment in comments%}
                <li>{{comment[3]}}<br></li>
            {% endfor %}
        {% endif %}
        
      </u1>
      </li>
    </ul>
{% endif %}