<head>
    <title>Profile Page</title>
</head>

    <body>
        <div class="title">
            <h1>Profile</h1>
        </div>
        <div id="content">
            <p>
                Name: {{getUser[0][1]}} {{getUser[0][2]}}
                Birthday: {{getUser[0][4]}}
                Email: {{getUser[0][3]}}
                Hometown: {{getUser[0][5]}}
                Gender: {{getUser[0][6]}}
            </p>
         </div>
    </body>
<a href='/'>Home</a>
<a href='/friends'>Your Friends</a>
<a href='/addfriends'>Friend Recommendations</a>



